<h2 class="text-center title">
    Créditos solicitados
    <button class="create-user-btn" mat-mini-fab color="primary" matTooltip="Crear usuario" matTooltipPosition="left"
        aria-label="Crear usuario" (click)="redirectTo('/user-create')">
        <mat-icon>add</mat-icon>
    </button>
</h2>

<section class="lend-list">
    <mat-card class="lend-item" *ngFor="let item of usersCreditDebt">
        <mat-card-title>{{ item.requestedValue | currency }}</mat-card-title>
        <mat-card-content>
            <p>{{ item.name }}</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions align="end">
            <button mat-button (click)="updateDebet(item)">Pagar solicitud</button>
        </mat-card-actions>
    </mat-card>
</section>