.listitem {
  color: black;
}

.lend-list {
  margin-top: 10px;
  text-align: center;
}

.lend-list .lend-item {
  width: 250px;
  margin: 5px;
  display: inline-block;
  text-align: left;
}

.title {
  margin-top: 10px;
}
.create-user-btn {
  margin-left: 15px;
}
