<h2 mat-dialog-title>Mensaje</h2>
<mat-dialog-content class="mat-typography">
  <h3>Solicitud denegada</h3>
  <p>Su solicitud de crédito ha sido denegada.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Aceptar</button>  
</mat-dialog-actions>