<div class="new-lend">
    <h2 class="title">Nuevo prestamo</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="form">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error *ngIf="form.name.errors && form.name.dirty">El nombre es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" />
            <mat-error *ngIf="form.email.errors && form.email.dirty">
                <span *ngIf="form.email.errors.required">El email es obligatorio</span>
                <span *ngIf="form.email.errors.email">Debe ser formato email</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Dni</mat-label>
            <input matInput type="text" formControlName="dni" />
            <mat-error *ngIf="form.dni.errors && form.dni.dirty ">
                <span *ngIf="form.dni.errors.required">El dni es obligatorio</span>
                <span *ngIf="form.dni.errors.pattern">El dni es numérico</span>
            </mat-error>
        </mat-form-field>

        <app-money-lending (stateFormEmmiter)="stateFormEmmiter($event)"></app-money-lending>

        <section class="button-section">
            <button mat-raised-button color="accent" (click)="onReset()">Cancelar</button>
            <button mat-raised-button color="primary">Generar solicitud</button>
        </section>
    </form>

</div>