.new-lend {
  max-width: 400px;
  margin: auto;
}

.new-lend .title {
  text-align: center;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.button-section {
  text-align: right;
}

.button-section button:last-child {
  margin-left: 5px;
}