<form [formGroup]="moneyLendingForm">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Valor solicitado</mat-label>
        <input matInput type="number" formControlName="requestedValue" />
        <mat-error *ngIf="form.requestedValue.errors && form.requestedValue.dirty">
            <span *ngIf="form.requestedValue.errors.required">El Valor solicitado es obligatorio</span>
            <span *ngIf="form.requestedValue.errors.pattern">El Valor solicitado debe ser numerico</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Fecha pagar</mat-label>
        <input matInput type="date" formControlName="date" />
    </mat-form-field>
</form>